@model IEnumerable<DoAnWebTMDT.Data.Address>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDefault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDefault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
